.title {
    text-align: center;
    color: black;

}

.aboutus {
    margin-top: 100px;
}

.bigcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.smallcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #2196f3;
    background-color: rgba(212, 242, 233, 0.795);
    width: 450px;
    height: 650px;
    text-align: justify;
    margin-right: 30px;
    margin-left: 30px;
    border-radius: 15px;
}

.smallcontainer img {
    width: 200px;
    height: 200px;
    border-radius: 3px;
}

.us-h2 {
    font-size: 30px;
    color: black;
    font-weight: 600;
}

.desc-us {
    padding: 5px 50px 50px 50px;
    font-size: 20px;
    font-weight: 600;
    color: black;
}